includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        # Ignore unused trait warnings - these traits are meant for package consumers
        - '#^Trait .+ is used zero times and is not analysed\.$#'
